<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <style>
        body {
            margin: 0;
        }

        main {
            min-height: 100vh;
        }
    </style>
</head>
<body>
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    <a href="https://github.com/razomy/function.server">github.com/razomy/function.server</a>
</footer>
</body>
</html>
