{% extends 'components/base.html' %}
{% block head %}
<title>Welcome</title>
{% endblock %}

{% block main %}
<a href="/">home</a>
<h1>Image to image</h1>

<form id="imageForm" enctype="multipart/form-data" method="post">
    <input type="file" id="imageFile" name="image" accept="image/*" required>
    <button type="submit">Change</button>
</form>

<h2>Result</h2>
<div id="resultDiv"></div>

<script>
    var imageForm = document.getElementById('imageForm');
    imageForm.addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this);
        const resultDiv = document.getElementById('resultDiv');

        var request = {
            method: 'POST',
            body: formData
        }

        fetch('/api/image', request)
            .then(response => {
                if (response.ok) {
                    return response.blob();
                } else {
                    throw new Error('Failed to process the image.');
                }
            })
            .then(blob => {
                resultDiv.innerHTML = `
<img id="resultImage" src="" alt="Processed Image">
<a id="resultButton" href="" download="">Download File</a>
`;
                const resultImage = document.getElementById('resultImage');
                const result_url = URL.createObjectURL(blob);
                resultImage.src = result_url;
                const resultButton = document.getElementById('resultButton');
                resultButton.href = result_url;
                resultButton.download = 'newfile.jpg';
            })
            .catch(error => {
                resultDiv.innerHTML = `<p style="color: red;">${error.message}</p>`;
            });
    });
</script>

{% endblock %}
